<p id="notice"><%= notice %></p>

<%= label_tag :name, "Name: #{@location.name}" %>
<p>
<%= render 'map' %>

<%= link_to 'Edit', edit_vehicle_location_path(@vehicle, @location) %> |
<%= link_to 'Delete', vehicle_location_path(@vehicle, @location), method: :delete %> |
<%= link_to 'Back', vehicle_locations_path %>
