
<%
trip = @trip if trip == nil
index = 0 if index == nil
%>

<% if (@js_loaded == nil) %>
<%= javascript_include_tag "underscore" %>
<%= javascript_include_tag "gmaps/google" %>
<% @js_loaded = true %>
<% end %>

<div class="map_container">
  <div id="map<%= index %>" class="map_canvas"></div>
</div>

<% if @map_type == :detailed %>
<div style="display: none">
  <div id="legend">
    <div class="widget-box collapsed">
       <div class="widget-header widget-header-small">
        <h5 class="widget-title">Legend&nbsp;</h5>
        <span class="widget-toolbar">
          <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
        </span>
      </div>
      <div class="widget-body"><div class="widget-main no-padding">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="hidden-480">
                <span class='ace-icon btn btn-success no-hover'></span>
              </td>

              <td class="hidden-480" style="vertical-align: middle">0-25 MPH</td>
            </tr>
            <tr>
              <td class="hidden-480">
                <span class='ace-icon btn btn-warning no-hover' ></span>
              </td>

              <td class="hidden-480" style="vertical-align: middle">
                25-50 MPH
              </td>
            </tr>
            <tr>
              <td class="hidden-480">
                <span class='ace-icon btn btn-danger no-hover' ></span>
              </td>

              <td class="hidden-480" style="vertical-align: middle">
                50+ MPH
              </td>
            </tr>
          </tbody>
          </table>
      </div></div>
    </div>
  </div>
</div>
<% end %>

<script data-turbolinks-eval=always>
map_load_functions.push(function() {

  handler<%=index%> = Gmaps.build('Google');
  handler<%=index%>.buildMap({
      provider: {
        disableDefaultUI: true<% if @map_type != :detailed %>,
        // pass in other Google Maps API options here    
        draggable: false,
        scrollwheel: false,
        panControl: false<% end %>
      },
      internal: {
        id: 'map<%=index%>'
      }
    },
    function(){
        var start = {
        "lat": <%= trip.start_location.latitude %>,
        "lng": <%= trip.start_location.longitude %>,
        "picture": {
          "url": "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
          "width": 32,
          "height": 32
        }
      };
      handler<%=index%>.addMarker(start);
      <% if trip.end_location != nil %>
      var end = {
        "lat": <%= trip.end_location.latitude %>,
        "lng": <%= trip.end_location.longitude %>,
        "picture": {
          "url": "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
          "width": 32,
          "height": 32
        }
      };
      handler<%=index%>.addMarker(end);

      <% end %>

      <% if trip.badges.length > 0 %>
        <%  trip.badges.each do |badge| %>
            markers = handler<%=index%>.addMarkers([
              {
                "lat": "<%= badge.vehicle_telemetry_metric.location.y %>",
                "lng": "<%= badge.vehicle_telemetry_metric.location.x %>",
                "infowindow": "<%= badge.badge_type.description %>"
              }
            ]);
        <% end %>
      <% end %>

  <% if @map_type == :detailed %>
    var legend = document.getElementById('legend');        legend.index = 1;
        handler<%=index%>.map.serviceObject.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
  <% end %>

  <% if trip.trip_detail != nil %>

      <%= raw (@map_type == :detailed ? Zlib::Inflate.inflate(Base64.decode64(trip.trip_detail.detailed_route)) :
        Zlib::Inflate.inflate(Base64.decode64(trip.trip_detail.summary_route))) %>

      for (var i=0; i<polylines.length; ++i) {
        console.log('Adding a polyline of length ' + polylines[i][0].length + ' with color ' + polylines[i][1]);
        handler<%=index%>.addPolyline(polylines[i][0], { strokeColor: polylines[i][1]});
      }

      handler<%=index%>.bounds.extend(<%= raw trip.trip_detail.upper_left %>);
      handler<%=index%>.bounds.extend(<%= raw trip.trip_detail.lower_right %>);

  <% else %>

      handler<%=index%>.bounds.extend(start);
      handler<%=index%>.bounds.extend(end);

  <% end %>

      handler<%=index%>.fitMapToBounds();
    }
  );
});
</script>
