
<%
trip = @trip if trip == nil
index = 0 if index == nil
%>

<% if (@js_loaded == nil) %>
<%= javascript_include_tag "underscore" %>
<%= javascript_include_tag "gmaps/google" %>
<script>
var color_scale = {
  'success': "#74AD6A",
  'warning': "#FFAA38",
  'danger' : "#C44537"
};
</script>
<% @js_loaded = true %>
<% end %>

<div class="map_container">
  <div id="map<%= index %>" class="map_canvas"></div>
</div>

<style>
div.custom_marker {
  position: absolute;
  cursor: pointer;
}
</style>

<div id="overlay_bag_<%= index %>" style="display: none">
  <div id="start_icon_<%=index%>" class="custom_marker">
    <span class='ace-icon btn btn-success fa fa-play no-hover' ></span>
  </div>
</div>

<% if @map_type == :detailed %>
<div style="display: none">
  <div id="legend">
    <div class="widget-box collapsed">
       <div class="widget-header widget-header-small">
        <h5 class="widget-title">Legend&nbsp;</h5>
        <span class="widget-toolbar">
          <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
        </span>
      </div>
      <div class="widget-body"><div class="widget-main no-padding">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="hidden-480">
                <span class='ace-icon btn btn-success no-hover'></span>
              </td>

              <td class="hidden-480" style="vertical-align: middle">0-25 MPH</td>
            </tr>
            <tr>
              <td class="hidden-480">
                <span class='ace-icon btn btn-warning no-hover' ></span>
              </td>

              <td class="hidden-480" style="vertical-align: middle">
                25-50 MPH
              </td>
            </tr>
            <tr>
              <td class="hidden-480">
                <span class='ace-icon btn btn-danger no-hover' ></span>
              </td>

              <td class="hidden-480" style="vertical-align: middle">
                50+ MPH
              </td>
            </tr>
          </tbody>
          </table>
      </div></div>
    </div>
  </div>
</div>
<% end %>

<script data-turbolinks-eval=always>
map_load_functions.push(function() {

  handler<%=index%> = Gmaps.build('Google');
  handler<%=index%>.buildMap({
      provider: {
        disableDefaultUI: true<% if @map_type != :detailed %>,
        // pass in other Google Maps API options here    
        draggable: false,
        scrollwheel: false,
        panControl: false<% end %>
      },
      internal: {
        id: 'map<%=index%>'
      }
    },
    function(){

      var start = new google.maps.LatLng(
            "<%= trip.start_location.latitude %>",
            "<%= trip.start_location.longitude %>");
      cm = new CustomMarker(
        start,
        handler<%=index%>.map.serviceObject
      );
      cm.div = document.getElementById('start_icon_<%=index%>');

      <% if trip.end_location != nil %>
      var end = new google.maps.LatLng(
            "<%= trip.end_location.latitude %>",
            "<%= trip.end_location.longitude %>");
      new google.maps.Marker({
          map: handler<%=index%>.map.serviceObject,
          icon: {
              path: fontawesome.markers.STOP,
              scale: .4,
              strokeWeight: 0.3,
              strokeColor: 'black',
              strokeOpacity: 1,
              fillColor: color_scale['danger'],
              fillOpacity: 1
          },
          clickable: false,
          position: end
      });

      <% end %>

      <% if trip.badges.length > 0 %>
        <%  trip.badges.each do |badge| %>
            new google.maps.Marker({
                map: handler<%=index%>.map.serviceObject,
                icon: {
                    path: fontawesome.markers.<%= badge.badge_type.icon.upcase.gsub('-', '_') %>,
                    scale: .4,
                    strokeWeight: 0.3,
                    strokeColor: 'black',
                    strokeOpacity: 1,
                    fillColor: color_scale['<%= badge.badge_type.flavor %>'],
                    fillOpacity: 1
                },
                clickable: false,
                title: "<%= badge.badge_type.description %>",
                position: new google.maps.LatLng(
                  "<%= badge.vehicle_telemetry_metric.location.y %>",
                  "<%= badge.vehicle_telemetry_metric.location.x %>")
            });
        <% end %>
      <% end %>

  <% if @map_type == :detailed %>
    var legend = document.getElementById('legend');
    legend.index = 1;
    handler<%=index%>.map.serviceObject.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
  <% end %>

  document.getElementById('overlay_bag_<%=index%>').style.display='block';

  <% if trip.trip_detail != nil %>

      <%= raw (@map_type == :detailed ? Zlib::Inflate.inflate(Base64.decode64(trip.trip_detail.detailed_route)) :
        Zlib::Inflate.inflate(Base64.decode64(trip.trip_detail.summary_route))) %>

      for (var i=0; i<polylines.length; ++i) {
        handler<%=index%>.addPolyline(polylines[i][0], { strokeColor: polylines[i][1]});
      }

      handler<%=index%>.bounds.extend(<%= raw trip.trip_detail.upper_left %>);
      handler<%=index%>.bounds.extend(<%= raw trip.trip_detail.lower_right %>);

  <% else %>

      handler<%=index%>.bounds.extend(start);
      handler<%=index%>.bounds.extend(end);

  <% end %>

      handler<%=index%>.fitMapToBounds();
    }
  );
});
</script>
