<div id="breadcrumbs" class="breadcrumbs">
 <ul class="breadcrumb">
   <li><i class="fa fa-car home-icon"></i> <a href="<%= vehicle_path(params[:vehicle_id]) %>">Vehicles</a></li>
   <li><a href="<%= vehicle_trips_path(params[:vehicle_id])%>">Trips</a></li>
   <li><a href="<%= vehicle_locations_path(params[:vehicle_id], @from)%>">From <%= @from.name %></a></li>
   <li><a href="<%= vehicle_locations_path(params[:vehicle_id], @to)%>">To <%= @to.name %></a></li>
 </ul><!-- /.breadcrumb -->

 <!-- searchbox -->
</div>

<div class="page-content">

    <div class="page-header">
      <h1>
       <%= pluralize(@trips.count, 'trip', 'trips') %> from <%= @from.name %> to <%= @to.name %>
       <small><i class="ace-icon fa fa-angle-double-right"></i> sorted by duration</small>
     </h1>
    </div>

    <div class="row"><div class="col-xs-12">
      <table id="simple-table" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Start time</th>
            <th>Duration</th>
            <th>Route</th>
          </tr>
        </thead>

        <tbody>
    <% @trips.each_with_index do |trip, index| %>

          <tr>
            <td><%= trip.start_time.in_time_zone('America/New_York').to_formatted_s(:long_us) %></td>
            <td><%= trip.end_time == nil ? 'ongoing' : distance_of_time_in_words(trip.start_time, trip.end_time, include_seconds: true) %></td>
            <td><a href="<%= vehicle_trip_path(params[:vehicle_id], trip) %>">
                    <%= render 'trip', :index => index, :width => 400, :height => 200, :trip => trip, :trip_detail => @trip_detail[index] %>
                </a>
            </td>
          </tr>

    <% end %>

        </tbody>
      </table>

    <div class="trip_pagination">
    <%= will_paginate @trips, :container => false %>
    </div>

    </div></div>

</div>