
<h1>Trips</h1>
 
<table>
  <tr>
    <th>Start Time</th>
    <th>Duration</th>
    <th></th>
  </tr>
 
<% @trips.each do |trip, index| %>
  <tr>
    <td><%= trip.start_time.in_time_zone('America/New_York').to_formatted_s(:long_us) %></td>
    <td><%= trip.end_time == nil ? 'ongoing' : distance_of_time_in_words(trip.start_time, trip.end_time, include_seconds: true) %></td>
    <td><%= link_to 'Show', vehicle_trip_path(params[:vehicle_id], trip) %></td>
    <% if trip.origin == nil %>
    <td><%= link_to 'Name origin', new_vehicle_location_path(:vehicle_id => params[:vehicle_id], :lng => trip[:start_location].longitude, :lat => trip[:start_location].latitude, :z => trip[:start_location].z) %></td>
    <% else %>
    <td><%= link_to trip.origin.name, vehicle_location_path(trip.vehicle_id, trip.origin) %></td>
    <% end %>
    <% if trip[:end_location] == nil %>
    <td>ongoing</td>
    <% elsif trip.destination == nil %>
    <td><%= link_to 'Name destination', new_vehicle_location_path(:vehicle_id => params[:vehicle_id], :lng => trip[:end_location].longitude, :lat => trip[:end_location].latitude, :z => trip[:end_location].z) %></td>
    <% else %>
    <td><%= link_to trip.destination.name, vehicle_location_path(trip.vehicle_id, trip.destination) %></td>
    <% end %>
    <td class='badges-small'>
    <% trip.badges.each do |badge| %>
      <img src="<%= image_url(badge.custom_fields[:icon] + '.png') %>" alt="<%= badge.description %>" title="<%= badge.description %>" >
    <% end %>
    </td>
   <!-- <td><%= link_to 'Delete', vehicle_trip_path(trip.vehicle_id, trip), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td> -->
  </tr>
<% end %>
</table>
<br>

<%= will_paginate @trips %>
 
<br>