<div id="breadcrumbs" class="breadcrumbs">
 <ul class="breadcrumb">
   <li><i class="fa fa-home home-icon"></i> Vehicles</li>
   <li>Trips</li>
 </ul><!-- /.breadcrumb -->

 <!-- searchbox -->
</div>

<div class="page-content">

  <div class="page-header">
    <h1>
     Trips
     <small><i class="ace-icon fa fa-angle-double-right"></i> most recent trips appear at the top</small>
   </h1>
  </div>

  <div class="row"><div class="col-xs-12">

  <%
  @trips.each_with_index do |trip, index|
    # Prime the pump, pulling in each trip_detail and making sure it's cached.
    puts "There are #{trip.trip_detail.badges.length} badges for this trip after first load for #{trip.id}."
  end
  %>

  <% @trips.each_with_index do |trip, index|

    puts "There are #{trip.trip_detail.badges.length} badges for this trip after second load for #{trip.id}."

    %>

    <div id="timeline-<%= index %>">

      <div class="row"><div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <div class="timeline-container">
          <div class="timeline-label">
             <span class="label label-primary arrowed-in-right label-lg">
               <b><%= pretty_start_date trip %></b>
             </span>
          </div>
          <div class="timeline-items">

            <!-- Populate Destination, if any -->
            <div class="timeline-item clearfix">
               <div class="timeline-info">
                 <i class="timeline-indicator ace-icon fa fa-<%= trip.end_time == nil ? 'play-circle' : 'stop' %> btn btn-danger no-hover"></i>
               </div>

               <div class="widget-box transparent">
                 <div class="widget-header widget-header-small">
                  <% if trip.end_time == nil %>
                  <h5 class="widget-title smaller">Trip ongoing</h5>
                    <% trip.end_time = Time.now %>
                  <% else %>
                  <h5 class="widget-title smaller"><%= destination_link trip %></h5>
                  <% end %>
                  <span class="widget-toolbar no-border">
                    <%= link_to vehicle_trip_path(trip[:vehicle_id], trip), class: "ace-icon fa fa-search" do %>
                    <% end %>
                    <% if trip.origin != nil && trip.destination != nil %>
                      <%= link_to vehicle_trips_between_path(trip[:vehicle_id], trip.origin.name, trip.destination.name), class: "ace-icon fa fa-ellipsis-h tesla-tooltip", title: "Show more like this..." do %>
                      <% end %>
                    <% end %>
                    <%= link_to vehicle_trip_path(trip[:vehicle_id], trip), method: :delete, class: "ace-icon fa fa-trash-o red tesla-tooltip", id: "trip_" + trip.id.to_s + "_delete_link", title: 'Delete this trip' do %>
                    <% end %>
                    <script>
                      $('#trip_<%= trip.id %>_delete_link').on('click', function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        bootbox.confirm('Are you sure you want to delete this trip?  This is irreversible.', function(result) {
                          if(result) {
                            $('#trip_<%= trip.id %>_delete_link').off('click');
                            $('#trip_<%= trip.id %>_delete_link').trigger('click');
                          }
                        })
                      })
                    </script>
                    <span class="label label-warning tesla-tooltip" title="<%= pretty_precise_duration trip %>"><%= pretty_duration trip %></span>
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                    <%= trip.end_time.in_time_zone('America/New_York').to_formatted_s(:time_us) %>
                  </span>
                  <span class="widget-toolbar">
                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                  </span>
                </div>
                <div class="widget-body"><div class="widget-main">
                  <%= render 'trip', :index => index, :trip => trip %>
                </div></div>
              </div>
            </div>

            <% if trip.badges.length > 0 %>

              <% trip.badges.each_with_index do |badge, i| %>
                <div class="timeline-item clearfix">
                   <div class="timeline-info">
                     <i class="timeline-indicator ace-icon fa fa-certificate btn btn-<%= badge.badge_type.flavor %> no-hover"></i>
                   </div>

                   <div class="widget-box transparent">
                     <div class="widget-header widget-header-small">
                      <h5 class="widget-title smaller">Earned a badge!</h5>
                      <span class="widget-toolbar">
                        <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                        <%= badge.vehicle_telemetry_metric.timestamp.in_time_zone('America/New_York').to_formatted_s(:time_us) %>
                      </span>
                    </div>
                    <div class="widget-body"><div class="widget-main">
                        <span class='ace-icon fa fa-<%= badge.badge_type.icon %> btn btn-<%= badge.badge_type.flavor %> btn-default tesla-tooltip no-hover' title="<%= badge.badge_type.description %>" ></span>
                    </div></div>
                  </div>
                </div>
              <% end %>

            <% end %> <!-- if badges -->

            <!-- Populate Origin, if any -->
            <div class="timeline-item clearfix">
               <div class="timeline-info">
                 <i class="timeline-indicator ace-icon fa fa-play btn btn-success no-hover"></i>
               </div>

               <div class="widget-box transparent">
                 <div class="widget-body"><div class="widget-main">
                  <h5 class="widget-title smaller"><%= origin_link trip %></h5>
                  <div class="pull-right">
                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                    <%= trip.start_time.in_time_zone('America/New_York').to_formatted_s(:time_us) %>
                  </div>
                </div></div>
              </div>
            </div>

          </div>
        </div>
        <div class="space-6"></div>
      </div></div>
    </div>
<% end %>

<div class="trip_pagination">
<%= will_paginate @trips, :container => false %>
</div>

</div></div>

</div><!-- /.page-content -->