
<div id="breadcrumbs" class="breadcrumbs">
 <ul class="breadcrumb">
   <li><i class="fa fa-home home-icon"></i> Vehicles</li>
   <li><a href="<%= vehicle_trips_path(params[:vehicle_id])%>">Trips</a></li>
   <li><%= from_name_short(@trip) %> to <%= to_name_short(@trip) %> <%= pretty_duration(@trip, true) %>
 </ul><!-- /.breadcrumb -->

 <!-- searchbox -->
</div>

<div class="page-content">

  <div class="page-header">
    <h1>
      <%= trip_between_summary(@trip) %>
     <small><i class="ace-icon fa fa-angle-double-right"></i> on <%= @trip.start_time.in_time_zone('America/New_York').to_formatted_s(:date_us) %> at <%= @trip.start_time.in_time_zone('America/New_York').to_formatted_s(:time_us) %>
     </small>
   </h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <%= render 'trip', :trip => @trip %>
      </div>
    </div>
  </div>

  <div class="space-4"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
          <div class="col-md-4">
                  <div class="widget-box transparent">
                     <div class="widget-header widget-header-small">
                      <h3 class="widget-title smaller">Trip details</h3>
                      <span class="widget-toolbar">
                        <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                      </span>
                    </div>
                    <div class="widget-body"><div class="widget-main">

                      <dl class="dl-horizontal">
                        <dt>Start Time</dt>
                        <dd><%= @trip.start_time.in_time_zone('America/New_York').to_formatted_s(:long_us) %></dd>
                        <dt>Duration</dt>
                        <dd><%= pretty_precise_duration @trip %></dd>
                        <dt>Origin</dt>
                        <dd><%= from_name_linked @trip %></dd>
                        <dt>Destination</dt>
                        <dd><%= trip_destination_summary @trip %></dd>
                        <% if @trip.destination != nil && @trip.origin != nil %>
                        <dt>Links</dt>
                        <dd><%= link_to 'All trips on this route', vehicle_trips_between_path(@trip[:vehicle_id], @trip.origin.name, @trip.destination.name) %></dd>
                        <% end %>
                      </dl>

                      <div class="row">
                        <% if @trip.trip_detail.badges(true).length > 0 %>
                        <h5 class="header smaller lighter blue">Badges</h5>
                        <div>
                          <div class="btn-group">
                          <% @trip.trip_detail.badges.each do |badge| %>
                            <span class='ace-icon fa fa-<%= badge.badge_type.icon %> btn btn-<%= badge.badge_type.flavor %> btn-default tesla-tooltip no-hover' title="<%= badge.badge_type.description %> <%= badge.data %>" ></span>
                          <% end %>
                          </div>
                        </div>
                        <% end %>
                      </div>
                    </div></div>
                  </div>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-6" id="vehicle_telemetry" data-ajax-content="true">
            
          </div>

          <script>
$('#vehicle_telemetry').ace_ajax({
  content_url: function(hash) {
    //hash is the value from document url hash
    var base = '/vehicles/<%= @trip[:vehicle_id]%>/vehicle_telemetry_metrics/<%= @trip[:id]%>?';

    //take "url" param and return the relevant url to load
    return base + hash;
  },
  update_active: false,
  update_title: false,
  update_breadcrumbs: false
});

$('#vehicle_telemetry').on('ajaxloadcomplete', function(e, params) {

  $('.trip_pagination a').each(function(i, link) {
    if (link.href.indexOf('?page=')) {
      link.href = "javascript:$('#vehicle_telemetry').ace_ajax('loadUrl', '" +
        link.href.substring(link.href.indexOf('page=')) + "');";
    }
  });

  $('#vehicle_telemetry').ace_ajax('stopLoading', true);
  //$('.ajax-loading-overlay').remove();
});

$('#vehicle_telemetry').ace_ajax('loadUrl', 'page=1');
          </script>
      </div>
    </div>
  </div>

</div>
