
<div id="breadcrumbs" class="breadcrumbs">
 <ul class="breadcrumb">
   <li><i class="fa fa-car home-icon"></i> <a href="<%= vehicle_path(params[:vehicle_id]) %>">Vehicles</a></li>
   <li><a href="<%= vehicle_trips_path(params[:vehicle_id])%>">Trips</a></li>
   <li><%= @from_short %> to <%= @to_short %> on <%= @trip.start_time.in_time_zone('America/New_York').to_formatted_s(:long_us) %></li>
 </ul><!-- /.breadcrumb -->

 <!-- searchbox -->
</div>

<div class="page-content">

    <div class="page-header">
      <h1>
       Trip from <%= @from %> to <%= @to %>
       <small><i class="ace-icon fa fa-angle-double-right"></i> sorted by duration</small>
     </h1>
    </div>

    <div class="row"><div class="col-xs-12">
      
    </div></div>

</div>


 <!--
 <div class="widget-box">
   <div class="widget-header">

   <!--Start: <%= @trip.start_time.in_time_zone('America/New_York').to_formatted_s(:long_us) %><br><br>

<% if @trip.origin != nil %>
Origin: <%= link_to @trip.origin.name, vehicle_location_path(@vehicle, @trip.origin) %><br><br>
<% end %>

<% if @trip.end_time == nil %>
Trip is ongoing...<br><br>
<% else %>
End: <%= @trip.end_time.in_time_zone('America/New_York').to_formatted_s(:long_us) %><br><br>
<% end %>

<% if @trip.destination != nil %>
Destination: <%= link_to @trip.destination.name, vehicle_location_path(@vehicle, @trip.destination) %><br><br>
<% end %>
<% if @trip.end_time != nil %>
Duration: <%= distance_of_time_in_words(@trip.start_time, @trip.end_time, include_seconds: true) %><br><br>
<% else %>
Duration so far: <%= distance_of_time_in_words(@trip.start_time, DateTime.now, include_seconds: true) %><br><br>
<% end %><

   </div>
   <div class="widget-body">
      <div class="widget-main">
      <center>
      <%= render 'trip', :trip => @trip, :trip_detail => @trip_detail[0] %>
      </center>
      </div>
   </div>
 </div>

<%= link_to "All trips", vehicle_trips_path(@vehicle) %>
<% if @trip.destination != nil && @trip.origin != nil %>
 | <%= link_to 'All trips on this route', vehicle_trips_between_path(@vehicle, @trip.origin.name, @trip.destination.name) %>
<% end %>
<br><br>

<% if @trip.badges.length > 0 %>
<h1>Badges</h1>
  <% @trip.badges.each do |badge| %>
    <img src="<%= image_url(badge.custom_fields[:icon] + '.png') %>" alt="<%= badge.description %>" title="<%= badge.description %>" >
  <% end %>
<% end %>

<h1>Detailed telemetry</h1>
<br>

<div class="trip_pagination">
<%= will_paginate @trip_detail[0]['vehicle_telemetry_metrics'] %><br>
</div>

<table>
  <tr>
    <th>Time</th>
    <th>Speed</th>
    <th>Lat</th>
    <th>Lng</th>
  </tr>
 
<% @trip_detail[0]['vehicle_telemetry_metrics'].each do |metric| %>
  <tr>
    <td><%= metric.timestamp.in_time_zone('America/New_York').to_formatted_s(:long_us) %></td>
    <td><%= (metric.shift_state == 'R' ? '-' : '') %><%= metric.speed %></td>
    <td><%= metric.location.latitude %></td>
    <td><%= metric.location.longitude %></td>
  </tr>
<% end %>
</table>
-->
