
<div id="breadcrumbs" class="breadcrumbs">
 <ul class="breadcrumb">
   <li><i class="fa fa-car home-icon"></i> <a href="<%= vehicle_path(params[:vehicle_id]) %>">Vehicles</a></li>
   <li><a href="<%= vehicle_trips_path(params[:vehicle_id])%>">Trips</a></li>
   <li><%= @from_short %> to <%= @to_short %><% if @trip.end_time == nil %>
       is ongoing
       <% else %>
       in <%= distance_of_time_in_words(@trip.start_time, @trip.end_time, include_seconds: true) %>
       <% end %></li>
 </ul><!-- /.breadcrumb -->

 <!-- searchbox -->
</div>

<div class="page-content">

  <div class="page-header">
    <h1>
      <% if @to == nil %>
        Ongoing trip from <%= @from.html_safe %>
      <% else %>
        Trip from <%= @from.html_safe %> to <%= @to.html_safe %>
      <% end %> 
     <small><i class="ace-icon fa fa-angle-double-right"></i> on <%= @trip.start_time.in_time_zone('America/New_York').to_formatted_s(:date_us) %> at <%= @trip.start_time.in_time_zone('America/New_York').to_formatted_s(:time_us) %>
     </small>
   </h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <%= render 'trip', :trip => @trip, :trip_detail => @trip_detail[0] %>
      </div>
    </div>
  </div>

  <div class="space-4"></div>

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
          <div class="col-xs-6">
                  <div class="widget-box transparent">
                     <div class="widget-header widget-header-small">
                      <h3 class="widget-title smaller">Trip details</h3>
                      <span class="widget-toolbar">
                        <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                      </span>
                    </div>
                    <div class="widget-body"><div class="widget-main">
                      <div class="row">
                        <% if @trip.badges.length > 0 %>
                        <h5 class="header smaller lighter blue">Badges</h5>
                        <div class="btn-group">
                          <% @trip.badges.each do |badge| %>
                            <span class='ace-icon fa fa-<%= badge.custom_fields[:icon] %> btn btn-<%= badge.custom_fields[:type] %> btn-default tesla-tooltip no-hover' title="<%= badge.description %>" ></span>
                          <% end %>
                        <% end %>
                        </div>
                      </div>
                    </div></div>
                  </div>
          </div>
          <div class="col-xs-6">
                  <div class="widget-box transparent collapsed">
                     <div class="widget-header widget-header-small">
                      <h3 class="widget-title smaller">Detailed vehicle telemetry</h3>
                      <span class="widget-toolbar">
                        <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                      </span>
                    </div>
                    <div class="widget-body"><div class="widget-main">
                      

                    </div></div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


 <!--
   </div>
   
 </div>

<%= link_to "All trips", vehicle_trips_path(@vehicle) %>
<% if @trip.destination != nil && @trip.origin != nil %>
 | <%= link_to 'All trips on this route', vehicle_trips_between_path(@vehicle, @trip.origin.name, @trip.destination.name) %>
<% end %>
<br><br>

<% if @trip.badges.length > 0 %>
<h1>Badges</h1>
  <% @trip.badges.each do |badge| %>
    <img src="<%= image_url(badge.custom_fields[:icon] + '.png') %>" alt="<%= badge.description %>" title="<%= badge.description %>" >
  <% end %>
<% end %>

<h1>Detailed telemetry</h1>
<br>

<div class="trip_pagination">
<%= will_paginate @trip_detail[0]['vehicle_telemetry_metrics'] %><br>
</div>

<table>
  <tr>
    <th>Time</th>
    <th>Speed</th>
    <th>Lat</th>
    <th>Lng</th>
  </tr>
 
<% @trip_detail[0]['vehicle_telemetry_metrics'].each do |metric| %>
  <tr>
    <td><%= metric.timestamp.in_time_zone('America/New_York').to_formatted_s(:long_us) %></td>
    <td><%= (metric.shift_state == 'R' ? '-' : '') %><%= metric.speed %></td>
    <td><%= metric.location.latitude %></td>
    <td><%= metric.location.longitude %></td>
  </tr>
<% end %>
</table>
-->
