
<h1>Trips</h1>
 
<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th></th>
  </tr>
 
<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.start_time %></td>
    <td><%= trip.end_time %></td>
    <td><%= link_to 'Show', trip_path(trip) %></td>
    <td><%= link_to 'Name Starting Location', new_location_path(:vehicle_id => params[:vehicle_id], :lng => trip[:start_location].longitude, :lat => trip[:start_location].latitude, :z => trip[:start_location].z) %></td>
    <td><%= link_to 'Name Ending Location', new_location_path(:vehicle_id => params[:vehicle_id], :lng => trip[:end_location].longitude, :lat => trip[:end_location].latitude, :z => trip[:end_location].z) %></td>
  </tr>
<% end %>
</table>
 
<br>