<% if (@js_loaded == nil) %>
<%= javascript_include_tag "underscore" %>
<%= javascript_include_tag "gmaps/google" %>
<% @js_loaded = true %>
<% end %>

<%
location = @location if location == nil
index = 0 if index == nil
%>

<div class="map_container">
  <div id="map<%= index %>" class="map_canvas"></div>
</div>

<script data-turbolinks-eval=always>
map_load_functions.push(function() {
  handler<%=index%> = Gmaps.build('Google');
  handler<%=index%>.buildMap({
      provider: {
        disableDefaultUI: true,
        // pass in other Google Maps API options here    
        draggable: false,
        scrollwheel: false,
        panControl: false
      },
      internal: {
        id: 'map<%=index%>'
      }
    },
    function(){
      markers = handler<%=index%>.addMarkers([
        {
          "lat": "<%= location.geolocation.latitude %>",
          "lng": "<%= location.geolocation.longitude %>",
        }
      ]);
      handler<%=index%>.bounds.extendWith(markers);
      handler<%=index%>.fitMapToBounds();
      handler<%=index%>.getMap().setZoom(14);
    }
  );
});
</script>