<p id="notice"><%= notice %></p>

<h1>Listing locations</h1>

<%= will_paginate @locations %><br>

Return to <%= link_to "trips for this vehicle", vehicle_trips_path(@vehicle) %>.

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each_with_index {|location, index| %>
      <tr>
        <td><%= link_to location.name, vehicle_location_path(@vehicle, location) %>
        <%= render 'map', :index => index, :width => 400, :height => 200, :location => location %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%= will_paginate @locations %>

<br>

Return to <%= link_to "trips for this vehicle", vehicle_trips_path(@vehicle) %>.