<div id="breadcrumbs" class="breadcrumbs">
 <ul class="breadcrumb">
   <li><i class="fa fa-home home-icon"></i> <a href="<%= vehicle_path(params[:vehicle_id]) %>">Vehicles</a></li>
   <li>Locations</li>
 </ul><!-- /.breadcrumb -->

 <!-- searchbox -->
</div>

<div class="page-content">

  <div class="page-header">
    <h1>
     Locations
     <small><i class="ace-icon fa fa-angle-double-right"></i> sorted by order added</small>
   </h1>
  </div>

  <div class="row"><div class="col-xs-12">

    <% @locations.each_slice(2).with_index {|(location1, location2), index|
      actual_index = index * 2 %>
    <div class="row">
      <div class="col-xs-6 widget-container-col ui-sortable">
        <div class="widget-box ui-sortable-handle">
          <div class="widget-header">
            <h5 class="widget-title"><%= location1.name %></h5>
            <div class="widget-toolbar">
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
              <%= link_to vehicle_location_path(@vehicle, location1), class: "ace-icon fa fa-search" do %>
              <% end %>
              <%= link_to edit_vehicle_location_path(@vehicle, location1), class: "ace-icon fa fa-pencil orange2" do %>
              <% end %>
              <%= link_to vehicle_location_path(@vehicle, location1), method: :delete, class: "ace-icon fa fa-trash-o red" do %>
              <% end %>
            </div>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <%= link_to vehicle_location_path(@vehicle, location1) do %>
              <% render 'map', :index => actual_index, :width => 400, :height => 200, :location => location1 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if location2 != nil %>
        <div class="col-xs-6 widget-container-col">
          <div class="widget-box ui-sortable-handle">
            <div class="widget-header">
              <h5 class="widget-title"><%= location2.name %></h5>
              <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                  <i class="ace-icon fa fa-chevron-up"></i>
                </a>
                <%= link_to vehicle_location_path(@vehicle, location2), class: "ace-icon fa fa-search" do %>
                <% end %>
                <%= link_to edit_vehicle_location_path(@vehicle, location2), class: "ace-icon fa fa-pencil orange2" do %>
                <% end %>
                <%= link_to vehicle_location_path(@vehicle, location2), method: :delete, class: "ace-icon fa fa-trash-o red" do %>
                <% end %>
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main">
                <%= link_to vehicle_location_path(@vehicle, location2) do %>
                <% render 'map', :index => actual_index+1, :width => 400, :height => 200, :location => location2 %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  <% } %>


    <div class="trip_pagination">
    <%= will_paginate @trips, :container => false %>
    </div>

  </div></div>

</div><!-- /.page-content -->
