<p id="notice"><%= notice %></p>

<%= label_tag :name, "Name: #{@location.name}" %>
<p>
<%= render 'map' %>

<% if @as_origin_count > 0 %>
There <%= (@as_origin_count == 1 ? 'is' : 'are') %> <%= pluralize(@as_origin_count, 'trip', 'trips') %> <%= link_to 'starting from here', vehicle_trips_from_path(@vehicle, @location.name) %>.<br>
<% end %>
<% if @as_destination_count > 0 %>
There <%= (@as_destination_count == 1 ? 'is' : 'are') %> <%= pluralize(@as_destination_count, 'trip', 'trips') %> <%= link_to 'ending here', vehicle_trips_to_path(@vehicle, @location.name) %>.<br>
<% end %>
<br>
<%= link_to 'Edit', edit_vehicle_location_path(@vehicle, @location) %> |
<%= link_to 'Delete', vehicle_location_path(@vehicle, @location), method: :delete %> |
<%= link_to 'Locations', vehicle_locations_path(@vehicle) %> |
<%= link_to "Trips", vehicle_trips_path(@vehicle) %>